.construct1_banner{
	position: absolute;
  margin-top: 780px;}

.construct1-1{
  position: absolute;
  margin-top: 1040px;
  margin-left: 20px;
  width: 900px;}

.construct1-2{
  position: absolute;
  margin-top: 1040px;
  margin-left: 970px;
  width: 900px;}



.construct2_banner{
	position: absolute;
    margin-top: 1740px;}


