.index1 {
	position: absolute;
	margin-top: 800px;
	margin-left: 35px;
  }
.index2 {
	position: absolute;
	margin-top: 800px;
	margin-left: 900px;
  }


p{
	position: absolute;
	font-size : 20px;
	margin-left: 670px;
	margin-top: 800px;
}

