
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

.wrapper{width: 1170px;}
.clearfix{content: ''; display: block; clear: both;}


header{height:50px; background-color: #ffffff; border: 0px so,id #000000;
      position: absolute; width: 100%; z-index: 0; top:0; left: 0;}

h1{color: black; line-height: 50px; float: left;}
.menu{float:right;}
.menu li{float:left;}
.menu a{line-height:50px; color: black; padding: 0 20px; display: block;}


img{
  z-index: 1;
}

.logo {
position: absolute;
margin-top: -9px;
z-index: 1;
}

.banner {
position: absolute;
margin-top: 50px;
z-index: 1;
}

















/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans KR', sans-serif; }

img {
  border: 0; }

a {
  text-decoration: none;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif; }

.hidden {
  display: none; }

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif; }
  /*위치*/
/*
#header {
  background: #1fffff;
  height: 50px;
  padding-top: 20px;
  box-sizing: border-box; }
  #header .header_inner h1 {
    float: left; }
  #header .header_inner .mnb {
    display: none; }
  #header .header_inner nav {
    float: right; }
    #header .header_inner nav > ul {
      padding-top: 0px; }
      #header .header_inner nav > ul .end {
        display: none; }
      #header .header_inner nav > ul > li {
        float: left; }
        #header .header_inner nav > ul > li:hover .dep {
          display: block; }
        #header .header_inner nav > ul > li > a {
          color: #fafafa;
          display: block;
          font-size: 20px;
          margin: 0 24px; }
/*붉은바*//*
#header .mnb {
  background: #f1ae4f;
  padding: 0px 0;
  margin-top: 100px;
}



.dep {
  background: #f1ae4f;
  padding: 0px 0;
  margin-top: 12px;
  display: none;
  position: relative;
  z-index: 10; }
  .dep li {
    margin: 4px 0; }
    .dep li a {
      display: block;
      padding: 4px 20px;
      font-size: 16px;
      color: #443131;
      letter-spacing: -0.5px; }
      .dep li a:hover {
        background: #fafafa;
        font-weight: 500; }
/*마우스 댈때*//*
img.relative {
  position: relative;
  left: 0px;
  top: -30px;
}



#header .header_inner, #footer .footer_inner, .top, .banner .b_wrap, .bottom .b_wrap {
  width: 1200px;
  /*margin: 0 auto;*/
  /*위치이동*/
