*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.wrapper{width: 1800px;}

header{height:50px; 
  position: absolute; 
  z-index: 1; 
  top:0; 
  left: 78.5px;}

body {background-color: #1D1C22;}

h1{color: black; 
  line-height: 50px; 
  float: left;}
.menu{margin-left: 56.7px;}
.menu li{float:left;}
.menu a{line-height:50px; color: black; 
  justify-content: space-between;
  padding: 0 30px; 
  display: block;}
.menu a:hover, menu a:active{background-color: #8ad0ff;}

.logo{z-index: 1;}
.logo {position: absolute;
  margin-top: -9px;
  z-index: 1;}

.banner {
	position: absolute;
  margin-top: 50px;}
