/*#5C85E0 하늘색
#01FEFC민트색
#75FAA8연두색
#B661FE보라색
#FF7F7E빨간색
#F9FD63노란색*/

@import url("../Fonts/s-core-dream.css"); 

.physics1_banner{
	position: absolute;
  margin-top: 780px;}

b{
	font-size : 30px;
}
.T1{
	position: absolute;
	font-size : 50px;
	margin-left: 855px;
	margin-top: 1100px;
	color: #B661FE;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 210px;
}
.T2{
	position: absolute;
	font-size : 40px;
	margin-left: 567px;
	margin-top: 1200px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 750px;
}
.T3{
	position: absolute;
	font-size : 50px;
	margin-left: 340px;
	margin-top: 1550px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 210px;
}
.T4{
	position: absolute;
	font-size : 40px;
	margin-left: 40px;
	margin-top: 1650px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 830px;
}
.T5{
	position: absolute;
	font-size : 50px;
	margin-left: 1380px;
	margin-top: 1550px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 150px;
}
.T6{
	position: absolute;
	font-size : 40px;
	margin-left: 1030px;
	margin-top: 1650px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 830px;
}
.T7{
	position: absolute;
	font-size : 50px;
	margin-left: 960px;
	margin-top: 2000px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 210px;
}
.T8{
	position: absolute;
	font-size : 40px;
	margin-left: 400px;
	margin-top: 2100px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 1300px;
}
.T11{
	position: absolute;
	font-size : 40px;
	margin-left: 80px;
	margin-top: 2350px;
	color: #B661FE;
	font-family: "6", sans-serif !important;
	text-align: center;
	width: 210px;
}
.T12{
	position: absolute;
	font-size : 40px;
	margin-left: 100px;
	margin-top: 2450px;
	color: #ffffff;
	font-family: "4", sans-serif !important;
	text-align: left;
	width: 750px;
}
.T13{
	position: absolute;
	font-size : 23px;
	margin-left: 375px;
	margin-top: 2600px;
	color: #ffffff;
	font-family: "3", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T14{
	position: absolute;
	font-size : 23px;
	margin-left: 975px;
	margin-top: 2600px;
	color: #ffffff;
	font-family: "3", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T15{
	position: absolute;
	font-size : 23px;
	margin-left: 1575px;
	margin-top: 2600px;
	color: #ffffff;
	font-family: "3", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T16{
	position: absolute;
	font-size : 23px;
	margin-left: 1575px;
	margin-top: 2741px;
	color: #ffffff;
	font-family: "3", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T17{
	position: absolute;
	font-size : 23px;
	margin-left: 840px;
	margin-top: 4450px;
	color: #f1f1f1;
	font-family: "1", sans-serif !important;
	text-align: center;
	width: 250px;
}
.physics1-1{pointer-events: none;
	position: absolute;
	margin-left: 50px;
	margin-top: 2600px;
	width: 300px;}
.physics1-2{pointer-events: none;
	position: absolute;
	margin-left: 650px;
	margin-top: 2600px;
	width: 300px;}
.physics1-3{pointer-events: none;
	position: absolute;
	margin-left: 1250px;
	margin-top: 2600px;
	width: 300px;}

.physicsP{pointer-events: none;
	position: absolute;
	margin-left: 660px;
	margin-top: 3980px;
	width: 600px;
	z-index: 1;}
.photozone{
	position: absolute;
	margin-left: 410px;
	margin-top: 3852px;
	width: 1100px;
	z-index: 0;}
	

.tg1  {border-collapse:collapse;border-spacing:0;
	margin-top: 3025px;
	margin-left: 400px;
	position: absolute;
	width: 200px;}
.tg1 td{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:16px;
	  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg1 th{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:16px;
	  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg1 .tg-1{background-color:#000000;border-color:#ffffff;color:#c161fe;font-family:"4", Helvetica, sans-serif !important;;
	  text-align:center;vertical-align:top}

.tg2  {border-collapse:collapse;border-spacing:0;
		margin-top: 2750px;
		margin-left: 1000px;
		position: absolute;
		width: 200px;}
.tg2 td{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:16px;
		overflow:hidden;padding:10px 5px;word-break:normal;}
.tg2 th{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:16px;
		font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg2 .tg-2{background-color:#000000;border-color:#ffffff;color:#c161fe;font-family:"4", Helvetica, sans-serif !important;;
		text-align:center;vertical-align:top}

.tg3  {border-collapse:collapse;border-spacing:0;
		margin-top: 2850px;
		margin-left: 1560px;
		position: absolute;
		width: 278px;;}
.tg3 td{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:15px;
		overflow:hidden;padding:10px 5px;word-break:normal;}
.tg3 th{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:15px;
		font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg3 .tg-3{background-color:#000000;border-color:#ffffff;color:#c161fe;font-family:"4", Helvetica, sans-serif !important;;
		text-align:center;vertical-align:top}
	
.tg4  {border-collapse:collapse;border-spacing:0;
		margin-top: 2950px;
		margin-left: 1560px;
		position: absolute;
		width: 278px;}
.tg4 td{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:15px;
		overflow:hidden;padding:10px 5px;word-break:normal;}
.tg4 th{border-color:black;border-style:solid;border-width:1px;font-family:"4", sans-serif;font-size:15px;
		font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg4 .tg-4{background-color:#000000;border-color:#ffffff;color:#c161fe;font-family:"4", Helvetica, sans-serif !important;;
		text-align:center;vertical-align:top}

.T21{
	position: absolute;
	font-size : 50px;
	margin-left: 850px;
	margin-top: 3370px;
	color: #FF7F7E;	
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 230px;
}
.T22{
	position: absolute;
	font-size : 30px;
	margin-left: 30px;
	margin-top: 3500px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 670px;
}
.T23{
	position: absolute;
	font-size : 30px;
	margin-left: 740px;
	margin-top: 3500px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 640px;
}
.T24{
	position: absolute;
	font-size : 30px;
	margin-left: 1415px;
	margin-top: 3500px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 450px;
}

video::-webkit-media-controls-panel {
display: none !important;
opacity: 1 !important;}

.physics2_banner{
	position: absolute;
    margin-top: 4590px;}

.physics2-1{pointer-events: none;
	position: absolute;
	margin-left: 80px;
	margin-top: 5400px;}

.physics2-2{
	pointer-events: none;
	margin-left: 150px;
	position: absolute;
    margin-top: 5030px;
	width:600px;}

.T31{
	position: absolute;
	font-size : 50px;
	margin-left: 920px;
	margin-top: 4970px;
	color: #B661FE;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 510px;
}
.T32{
	position: absolute;
	font-size : 40px;
	margin-left: 767px;
	margin-top: 5070px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 850px;
}
.T33{
	position: absolute;
	font-size : 50px;
	margin-left: 1280px;
	margin-top: 5300px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T34{
	position: absolute;
	font-size : 40px;
	margin-left: 950px;
	margin-top: 5400px;
	color: #ffffff;
	font-family: "5", sans-serif !important;	
	text-align: center;
	width: 930px;
}
.tg5  {border-collapse:collapse;border-spacing:0;margin-top: 5990px;margin-left:100px;position: absolute;width: 700px}
.tg5 td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:37px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg5 th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:37px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg5 .tg-5{border-color:#ffffff;color:#b661fe;text-align:left;vertical-align:top;font-family: "4";}
.T35{
	position: absolute;
	font-size : 50px;
	margin-left: 700px;
	margin-top: 6500px;
	color: #B661FE;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 500px;
}
.T36{
	position: absolute;
	font-size : 40px;
	margin-left: 567px;
	margin-top: 6600px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 750px;
}
.T37{
	position: absolute;
	font-size : 50px;
	margin-left: 340px;
	margin-top: 6750px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 210px;
}
.T38{
	position: absolute;
	font-size : 40px;
	margin-left: 40px;
	margin-top: 6850px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 830px;
}
.T39{
	position: absolute;
	font-size : 50px;
	margin-left: 810px;
	margin-top: 7450px;
	color: #FF7F7E;
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 250px;
}
.T40{
	position: absolute;	
	font-size : 40px;
	margin-left: 280px;
	margin-top: 7550px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 1300px;
}	
.physics2-3{pointer-events: none;
	position: absolute;
	margin-left: 900px;
	margin-top: 6700px;}
.physics2-4{pointer-events: none;
	position: absolute;
	margin-left: 1400px;
	margin-top: 6700px;}
.T41{
	position: absolute;
	font-size : 50px;
	margin-left: 850px;
	margin-top: 8170px;
	color: #FF7F7E;	
	font-family: "7", sans-serif !important;
	text-align: center;
	width: 230px;
}
.T42{
	position: absolute;
	font-size : 30px;
	margin-left: 30px;
	margin-top: 8300px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 550px;
}
.T43{
	position: absolute;
	font-size : 30px;
	margin-left: 650px;
	margin-top: 8300px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 550px;
}
.T44{
	position: absolute;	
	font-size : 30px;
	margin-left: 1245px;
	margin-top: 8300px;
	color: #ffffff;
	font-family: "5", sans-serif !important;
	text-align: center;
	width: 550px;
}
.physics2P{pointer-events: none;
	position: absolute;
	margin-left: 660px;
	margin-top: 8780px;
	width: 600px;
	z-index: 1;}
.photozone2{
	position: absolute;
	margin-left: 410px;
	margin-top: 8652px;
	width: 1100px;
	z-index: 0;}
.T45{
	position: absolute;
	font-size : 23px;
	margin-left: 840px;
	margin-top: 9250px;
	color: #f1f1f1;
	font-family: "1", sans-serif !important;
	text-align: center;
	width: 250px;}