@font-face {
    font-family: '1';
    src: url('scdream1-webfont.woff2') format('woff2'),
         url('scdream1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '2';
    src: url('scdream2-webfont.woff2') format('woff2'),
         url('scdream2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '3';
    src: url('scdream3-webfont.woff2') format('woff2'),
         url('scdream3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '4';
    src: url('scdream4-webfont.woff2') format('woff2'),
         url('scdream4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '5';
    src: url('scdream5-webfont.woff2') format('woff2'),
         url('scdream5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '6';
    src: url('scdream6-webfont.woff2') format('woff2'),
         url('scdream6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '7';
    src: url('scdream7-webfont.woff2') format('woff2'),
         url('scdream7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '8';
    src: url('scdream8-webfont.woff2') format('woff2'),
         url('scdream8-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '9';
    src: url('scdream9-webfont.woff2') format('woff2'),
         url('scdream9-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}